<!DOCTYPE HTML>
<html>
<head>
<title>tbelc Home Page</title>
</head>
<body>
<div>
<h1><%= image_tag('peace-doves.jpg', size: '73x43') %> About</h1>
<p>This page is the result of an exercise for the tutorial <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course">
The Complete Ruby On Rails Developer Course</a> Section 3.</p>
</div>
<div>
</body>
</html>
