<!DOCTYPE HTML>
<html>
<head>
<title>tbelc Home Page</title>
</head>
<body>
<div>
<h1><%= image_tag('peace-doves.jpg', size: '73x43') %> Welcome to tbelc Home Page</h1>
<p>Under construction.</p>
</div>
<div>
<%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About', about_path %>
</body>
</html>
